<!DOCTYPE html>
<html>
<p><strong>Ch&iacute;nh s&aacute;ch dữ liệu</strong></p>
<p>&nbsp;</p>
<p>Ch&iacute;nh s&aacute;ch n&agrave;y m&ocirc; tả th&ocirc;ng tin ch&uacute;ng t&ocirc;i xử l&yacute; để hỗ trợ hệ
    thống ESY</p>
<p>&nbsp;</p>
<p><strong>Ch&uacute;ng t&ocirc;i thu thập những loại th&ocirc;ng tin n&agrave;o?</strong></p>
<p>Để cung cấp hệ thống ESY, ch&uacute;ng t&ocirc;i cần xử l&yacute; th&ocirc;ng tin về bạn. C&aacute;c loại th&ocirc;ng
    tin ch&uacute;ng t&ocirc;i thu thập phụ thuộc v&agrave;o c&aacute;ch bạn sử dụng hệ thống của ch&uacute;ng t&ocirc;i.</p>
<p>&nbsp;</p>
<ul>
    <li>Th&ocirc;ng tin c&aacute; nh&acirc;n cơ bản của bạn: họ t&ecirc;n, năm sinh, giới t&iacute;nh, email</li>
    <li>Dữ liệu sử dụng của bạn trong hệ thống: loại điện thoại bạn d&ugrave;ng, loại phương tiện bạn d&ugrave;ng, t&igrave;nh
        trạng sức khoẻ của xe bạn v&agrave; c&aacute;ch bạn sử dụng hệ thống của ch&uacute;ng t&ocirc;i
    </li>
</ul>
<p>&nbsp;</p>
<p><strong>Ch&uacute;ng t&ocirc;i sử dụng th&ocirc;ng tin n&agrave;y như thế n&agrave;o?</strong></p>
<p>Ch&uacute;ng t&ocirc;i sử dụng th&ocirc;ng tin m&agrave; bạn cung cấp để hỗ trợ hệ thống ESY</p>
<p>&nbsp;</p>
<ul>
    <li>C&aacute; nh&acirc;n ho&aacute; v&agrave; ho&agrave;n thiện sản phẩm của ch&uacute;ng t&ocirc;i</li>
    <li>Cải thận độ an to&agrave;n, t&iacute;nh to&agrave;n vẹn v&agrave; bảo mật</li>
    <li>Li&ecirc;n lạc với bạn</li>
    <li>Nghi&ecirc;n cứu v&agrave; đổi mới v&igrave; cộng đồng</li>
</ul>
<p>&nbsp;</p>
<p><strong>Th&ocirc;ng tin n&agrave;y được chia sẻ như thế n&agrave;o?</strong></p>
<ul>
    <li>Chia sẻ với hệ thống ESY</li>
    <li>Th&ocirc;ng tin của bạn ho&agrave;n to&agrave;n được bảo mật trong hệ thống</li>
</ul>
</html>
